{% extends "layout.html" %}
{% block content %}
<div class="header">
    <h1>{{ title }}</h1>
    <div class="user-info">
        <p>ユーザー名: {{ uname }}</p>
        <p><a href="./logout">ログアウト</a></p>
        <p><a href="./mypage?back_to_top=true">トップページへ戻る</a></p>
    </div>
</div>

<div class="form_space">
    <form method="GET" action="./artist">
        <input type="text" name="query_artist" placeholder="アーティスト名" required>
        <br>
        <input type="text" name="query_song" placeholder="曲名" required>
        <button type="submit">検索</button>
    </form>
</div>

<div>
    <h2>指定した楽曲</h2>
    <iframe src="https://open.spotify.com/embed/track/{{ song_info.id }}" width="300" height="380" frameborder="0"
        allowtransparency="true" allow="encrypted-media"></iframe>
</div>
<div>
    <h3>類似度の高い曲</h3>
        {% for track in top_similar_tracks %}
            <iframe src="https://open.spotify.com/embed/track/{{ track.id }}" width="300" height="380" frameborder="0"
                allowtransparency="true" allow="encrypted-media"></iframe>
        {% endfor %}
</div>
{% endblock %}
